
<div class="contact-page container" ng-init="checkMobile()">
  <closebutton changepage="changePage('home')"></closebutton>
  <div class="main-content row row-no-padding">
    <header class="col-md-5 left-sections">
      <img ng-src="../images/contact_header.jpg" alt="backdrop image of the portfolio page">
      <div class="mask"></div>
      <div class="headings">
        <h1>CON<span class="red">T</span>ACT</h1>
        <div class="red-line"></div>
      </div>
    </header>
    <section class="col-md-7 right-sections">
      <div class="main-info">
        <h1>SAY HELLO!</h1>
        <form id="contact-form" ng-submit="submitForm(formData)" class="row">
          <section id="contact-left" class="col-md-7 row">
            <label for="name" class="col-xs-12">
              <span class="col-md-3 col-xs-3">Name</span>
              <input type="text" id="name" ng-model="formData.name" required class="col-md-9 col-xs-9"/>
            </label>
            <label for="email" class="col-xs-12">
                <span class="col-md-3 col-xs-3">Email</span>
                <input type="text" id="email" ng-model="formData.email" required class="col-md-9 col-xs-9" />
            </label>
            <label for="phone" class="col-xs-12">
                <span class="col-md-3 col-xs-3">Phone</span>
                <input type="text" id="phone" ng-model="formData.phone" class="col-md-9 col-xs-9" />
            </label>
            <label for="budget" class="col-xs-12">              
              <span class="col-md-3 col-xs-3">Budget</span>
              <input type="text" id="budget" placeholder="$" ng-model="formData.budget" class="col-md-9 col-xs-9" />
            </label>
            <button type="submit" ng-if="!mobile">Send
              <i class="fa fa-paper-plane-o"></i>
            </button>
          </section>
          <section id="contact-right" class="col-md-5 row">
            <textarea id="message" placeholder="Leave me a little message..."  ng-model="formData.message" class="col-xs-10 col-md-12"></textarea>
          </section>
          <button type="submit" ng-if="mobile" class="col-xs-3 col-sm-2">Send
            <i class="fa fa-paper-plane-o"></i>
          </button>
          <p class="{{contactInfoClass}}"> </p>
        </form>
      </div>
      <div id="location-img">
        <img src="../images/location.jpg" >
      </div>
      
      <div class="main-info contact-details">
        <h2>Contact Details</h2>
        <div class="row row-no-padding">
          <div class="col-sm-4 items">
            <i class="fa fa-map-marker"></i>
            <p>Culver City, CA</p>
          </div>
          <div class="col-sm-4 items">
            <i class="fa fa-phone"></i>
            <p>321-245-1309</p>
          </div>
          <div class="col-sm-4 items">
            <i class="fa fa-envelope"></i>
            <p>Ysanchez3d@gmail.com</p>
          </div>
        </div>
      </div>
      <footerinfo year="currentYear" />
    </section>
  </div>
</div>