<div class="home-page">
  <header class="">
    <img ng-src="http://demos.seekerinfinity.com/demo/insta/preview/images/home_dp.jpg" alt="image of me" class="">
    <div class="mask"></div>
    <div class="intro-content">
      <h1>Hello.</h1>
      <h1>I'm <span class="red">Yandri</span></h1>
      <h2>Software Engineer</h2>
    </div>
  </header>
  <nav class="">
    <ul id="nav-items">
      <li id="{{item.id}}" ng-repeat="item in nav" class="">
        <img ng-src="{{item.img}}" alt="{{item.alt}}" class="">
        <div class="mask"></div>
        <div class="content">
          <div class="circle">
            <div class="icon"></div>
          </div>
          <div class="">
            <h2>{{item.name[0]}}<span class="red">{{item.name[1]}}</span>{{item.name[2]}}</h2>
            <h3>{{item.info}}</h3>
          </div> 
        </div> <!-- content -->
      </li> 
    </ul>
  </nav>
</div> <!-- main-container -->
