<!-- PORTFOLIO PAGE STARTS HERE -->
<div class="portfolio-page container">
  <closebutton ng-click="changePage('home')"></closebutton>
  <div class="main-content row row-no-padding">
    <!-- LEFT SECTION -->
    <header class="col-md-5 left-sections">
      <img ng-src="../images/portfolio_header.jpg" alt="backdrop image of the portfolio page">
      
      <div class="mask"></div>
      <div class="headings">
        <h1>POR<span class="red">T</span>FOLIO</h1>
        <div class="red-line"></div>
      </div>
    </header>
    <!-- RIGHT SECTION -->
    <section class="col-md-7 right-sections">
      <div class="main-info">
        <h1> < PORTFOLIO /></h1>
        <!-- PROJECT BUTTONS -->
        <div class="buttons">
          <button id="all" ng-click="changeSelected('all')" ng-class="{'selected-category': isActive('all')}" >All</button>
          <button id="web-dev" ng-click="changeSelected('web-dev')" 
                  ng-class="{'selected-category': isActive('web-dev')}">Web Development
          </button>
          <button id="3d" ng-click="changeSelected('3d')" ng-class="{'selected-category': isActive('3d')}">Vfx & 3D Animation</button>
        </div>
        <!-- PROJECT CONTAINER -->
        <div id="projects-container" class="row">
          <div class="projects {{i.type}} col-sm-6" ng-show="isActive('{{i.type}}') || isActive('all')"
               ng-repeat="i in projects" ng-init="sectionIndex = $index">
            <div class="project">
              <img ng-src="../images/projects/{{i.image}}">
              <div class="project-mask"></div>
              <div class="project-buttons">
                <a class="{{i.button1}}" ng-click="openModal(sectionIndex)"></a>
                <a class="{{i.button2[0]}}" href="{{i.button2[1]}}" target="_blank"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a id="resume" href="../images/YandriSanchez-Resume.pdf" download="../images/YandriSanchez-Resume.pdf">Download Resume</a>
      <techicons></techicons>
      <footerinfo year="currentYear" />
    </section>
  </div>
</div>