<div class="profile-page container">
  <closebutton changepage="changePage('home')"></closebutton>
  <div class="main-content row row-no-padding">
    <header class="col-md-5 left-sections">
      <img ng-src="https://cdn.pixabay.com/photo/2016/11/29/06/16/blur-1867748_960_720.jpg" alt="backdrop image of the profile page">
      <div class="mask"></div>
      <div class="headings">
        <h1>PR<span class="red">O</span>FILE</h1>
        <div class="red-line"></div>
      </div>
    </header>
    <section class="col-md-7 right-sections">
      <div id="story-section">
        <div class="contents row row-no-padding">
          <h1> < MY STORY /></h1>
          <img ng-src="{{profilePhoto}}" class="col-sm-4">
          <div class="col-sm-7">
            <h2>No semicolons below. Cant mess this one up, HA!</h2>
            <p>Hello and thanks for visiting my site. I've changed my career as a 3D Artist to focus on web development. WHY IN THE WORLD WOULD I DO THAT? Because I love to learn!
            </p>
            <br>
            <p>I've always thought people who could code were genius...and well....I got curious...and decided to find out!
            Turns out that this, was one of the best choices I've made in my LIFE!
            Why? Because I get to build amazing things that can impact the life of others, and it is very rewarding. I love thinking creatively, and learning new tricks to speed up workflow, as well as learning new emerging technologies.
            </p>
            <h2>Getting tech-y</h2>
            <p>I immersed my learning in Javascript, and really enjoy working with Angular and React, building single-page applications, and finding ways to optimize performance. I use Node and express for back-end needs, and mongoDB documents to structure my data. I am a fan of keeping things modular, commented and well organized. (WEBPACK) is my best friend! :)
            </p>
          </div>
        </div>
      </div>
      <techicons></techicons>
      <footerinfo />
    </section>
  </div>
</div>