<div class="profile-page container" ng-init="animateProfilePhoto()">
  <closebutton ng-click="changePage('home')"></closebutton>
  <div class="main-content row row-no-padding">
    <header class="col-md-5 left-sections">
      <img ng-src="../images/profile_header.jpg" alt="backdrop image of the profile page">
      <div class="mask"></div>
      <div class="headings">
        <h1>PR<span class="red">O</span>FILE</h1>
        <div class="red-line"></div>
      </div>
    </header>
    <section class="col-md-7 right-sections">
      <div id="story-section">
        <div class="contents row row-no-padding">
          <h1> < MY STORY /></h1>
          <img ng-src="{{currentPhoto}}" class="col-sm-4 col-xs-6">
          <div class="col-sm-7 col-xs-12">
            <h2>Hello.</h2>
            <p>My name is Yandri. I am Software Engineer in Los Angeles CA.</p>
            <br>
            <p>My previous work experience consisted of making 3D assets, 3D convertions and even 3D animations for some of the latest Hollywood Films.
            </p>
            <p>Over the past year I discovered that my passion was in development, so I started teaching myself to code. Since then I've built quite a few apps and couldn't be any happier with my career change decision.</p>
            <p>I love to code because I'm always faced with new challenges, forcing me to think creatively to solve a problem, and learn new things along the way. It also gives me the power to build amazing things that could impact the life of others.</p>
            <h2>Getting tech-y</h2>
            <p>I have a deep understanding of Javascript and its innerworking as well as HTML and CSS. Some frameworks I've worked with the most include Jquery, Angular and React. I understand the importance of testing and my bundler of choice is Webpack. Keeping things modular and well organized is a MUST for any successful application.
            </p>
            <p>On my free time I like to go hiking with friends and take lots of photos, play video games, or simply enjoy a good beer. I'm always looking to meet new friends or learn about what they are trying to build, so feel free to reach out and lets have coffee sometime! :)
            </p>
          </div>
        </div>
      </div>
      <techicons></techicons>
      <footerinfo />
    </section>
  </div>
</div>