@mixin bgimage($name) {
  $url:"/images/#{$name}.jpg";
  background: url($url);
}

@mixin crossBrowser($property, $css...) {
  -webkit-#{$property} : $css;
  -moz-#{$property} : $css;
  -ms-#{$property} : $css;
  -o-#{$property} : $css;
  #{$property} : $css;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}